{% load staticfiles %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/index.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/result.css' %}" type="text/css">
    <title>Aspect Sentiment for Indonesian Temple</title>

</head>
<body>
    <header class="site-header">
        <div class="top-header-bar">
            <div class="container">
                <div class="row flex-wrap justify-content-center justify-content-lg-between align-items-lg-center">
                    <div class="col-12 col-lg-8 d-none d-md-flex flex-wrap justify-content-center justify-content-lg-start mb-3 mb-lg-0">
                        <div class="header-bar-email">
                            Kelompok Tyrannosaurus
                        </div><!-- .header-bar-email -->

                        <div class="header-bar-text">
                            <i><b>Aspect Based Sentiment Analysis</b></i> Candi di Indonesia
                        </div><!-- .header-bar-text -->
                    </div><!-- .col -->

                    <div class="col-12 col-lg-4 d-flex flex-wrap justify-content-center justify-content-lg-end align-items-center">
                        <div class="donate-btn">
                            <a href="#"><b>Ezza & Thoriq</b></a>
                        </div><!-- .donate-btn -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .top-header-bar -->

    </header><!-- .site-header -->

    <div class="container content">
        <div class="row grafik">
            <div class="col-xs-8 col-md-8 col-lg-8">
                <canvas id="bar-chart-grouped"></canvas>
            </div>
            <div class="col-xs-4 col-md-4 col-lg-4 explanation">
                <a href="/main">Back To Home</a>
                <h3>Explanation</h3>
                <p><b>Aspect Building:</b> Merupakan aspek yang menjelaskan tentang bangunan Candi Borobudur</p>
                <p><b>Aspect Ambience:</b> Merupakan aspek yang menjelaskan tentang suasana, pemandangan dan perasaan yang dirasakan turis</p>
                <p><b>Aspect Price & Service:</b> Merupakan aspek yang menjelaskan tentang harga tiket, peraturan dan tour guide yang berada di sekitar Candi Borobudur</p>
                <p><b>Aspect Surrounding:</b> Merupakan aspek yang menjelaskan tentang daerah sekitar candi yang meliputi atraksi dan acara sekitar candi</p>
                <p><b>Aspect Merchant:</b> Merupakan aspek yang menjelaskan tentang penjual souvenir sekitar candi</p>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <script type="text/javascript">
        var stackedBar = new Chart(document.getElementById("bar-chart-grouped"), {
                            type: 'bar',
                            data: {
                                  labels: ["Building", "Ambience", "Price & Service", "Surround Area", "Merchant"],
                                  datasets: [
                                    {
                                      label: "Positive",
                                      backgroundColor: "#d8f135",
                                      data: [{{building.positive}},
                                      {{ambience.positive}},
                                      {{price_service.positive}}, 
                                      {{surrounding.positive}},
                                      {{merchant.positive}}]
                                    }, {
                                      label: "Negative",
                                      backgroundColor: "#f26a35",
                                      data: [{{building.negative}},
                                      {{ambience.negative}},
                                      {{price_service.negative}}, 
                                      {{surrounding.negative}},
                                      {{merchant.negative}}]
                                    },
                                    {
                                      label: "Neutral",
                                      backgroundColor: "#f0de34",
                                      data: [{{building.neutral}},
                                      {{ambience.neutral}},
                                      {{price_service.neutral}}, 
                                      {{surrounding.neutral}},
                                      {{merchant.neutral}}]
                                    }
                                  ]
                                },
                            options: {
                                scales: {
                                    xAxes: [{
                                        stacked: true
                                    }],
                                    yAxes: [{
                                        stacked: true
                                    }]
                                }
                            }
                        });
    </script>
</body>
</html>